<!-- <h2>Zoo. Home page</h2> -->
<!-- <p>RAFFA! Find me in app/views/pages/home.html.erb</p> -->
<div class="banner border border-secondary">
  <%#= image_tag "img-creative/animal.flamingo-SUMMER-3.jpg" %>
  <div class="container border border-secondary">
    <div class="row justify-content-start border border-primary">

      <div class="col-12 banner-box-title-and-tag border border-primary">
        <h1>The Zoo.app (Homepage)</h1>
        <p>crea uno Zoo d'estate per i tuoi amici animali</p>
      </div>
    </div>

    <div class="row justify-content-center banner-btn-both border border-primary">
      <!-- <div class="col-12"> -->
        <p class="btn btn-primary">Crea uno Zoo</p>
        <p class="btn btn-secondary">Scegli un animale</p>
      <!-- </div> -->
    </div>
  </div>
</div>

<br><br>

<h2>Come Funziona?</h2>

<br><br>
<h3>Host</h3>
<p>crea uno Zoo con belle attivita' estive da fare in gruppo.</p>
<p>invita un mix di animali che piu' si addice all'esperienza.</p>
<p>preparati ad accogliere gli animali e a documentare l'esperienza.</p>

<br><br>
<h3>Animali</h3>
<p>scegli l'animale che piu' si addice alla tua personalita'.</p>
<p>cerca zoo interessanti a cui vorresti partecipare.</p>
<p>prenota la Zoo experience che ti cambiera' la vita.</p>

<br><br>
