<!-- <h2>Zoo. Home page</h2> -->
<!-- <p>RAFFA! Find me in app/views/pages/home.html.erb</p> -->
<div class="banner border border-secondary">
  <%#= image_tag "img-creative/animal.flamingo-SUMMER-3.jpg" %>
  <div class="container border border-secondary">
    <div class="row justify-content-start border border-primary">

      <div class="col-12 banner-box-title-and-tag border border-primary">
        <h1>The Zoo.app</h1>
        <h3>crea uno Zoo d'estate per i tuoi amici animali</h3>
      </div>
    </div>

    <div class="row justify-content-around banner-btn-both border border-primary">
      <!-- <div class="col-12"> -->
        <!-- <div class="d-flex flex-column border border-secondary" style="width: 10rem;"> -->
        <div class="d-flex flex-column border border-secondary">
        <p class="btn btn-primary">Crea uno Zoo</p>
        </div>

        <!-- <div class="d-flex flex-column border border-secondary" style="width: 10rem;"> -->
        <div class="d-flex flex-column border border-secondary">
        <p class="btn btn-secondary">Scegli un animale</p>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="hiw mt-4 mb-4">
  <div class="container">
    <div class="row justify-content-center p-2">
      <h3>Come Funziona?</h2>
    </div>
    <div class="row justify-content-around p-2">
      <div class="d-flex flex-column text-center mt-2" style="width: 35rem;">
      <!-- <div class="col-12 border border-primary"> -->
        <h5 class="text-center mt-2">Host</h5>
        <div class="text-center mt-2">
          <p>crea uno Zoo con belle attivita' estive da fare in gruppo.</p>
          <p>invita un mix di animali che piu' si addice all'esperienza.</p>
          <p>preparati ad accogliere gli animali e a documentare l'esperienza.</p>
        </div>
      </div>
      <div class="d-flex flex-column text-center mt-2" style="width: 35rem;">
        <h5 class="text-center mt-2">Animali</h5>
        <div class="text-center mt-2">
          <p>scegli l'animale che piu' si addice alla tua personalita'.</p>
          <p>cerca zoo interessanti a cui vorresti partecipare.</p>
          <p>prenota la Zoo experience che ti cambiera' la vita.</p>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
