<!-- <h2>Zoo. Home page</h2> -->
<!-- <p>RAFFA! Find me in app/views/pages/home.html.erb</p> -->

<h1>The Zoo.app (Homepage)</h1>
<p>Crea uno Zoo d'estate per i tuoi amici animali</p>
<p class="btn btn-primary">Scegli un animale</p>
<p class="btn btn-danger">Crea uno Zoo</p>
