.banner {
  background-image: asset-url('img-creative/animal.flamingo-SUMMER-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;

  h1 {
    color: $primary;
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    //background-color: $white-zoo;
  }

  h3 {
    color: $white-zoo;
  }

  p {
    color: $white-zoo;
  }
}

.banner-box-title-and-tag {
  // justify-content-left
  // margin top and bottom 5px or 5%
  margin-top: 2%;
  }

.banner-btn-both {
  // space in bewteen in px or in %
  // margin top and bottom 5px or 5%
  margin-top: 15%;

}





// Option1 (auto = > width)
// background-image: asset-url('img-creative/animal.flamingo-SUMMER.jpg');
// background-repeat: no-repeat;
// background-size: auto;

// Option2 (2 value first is width and second is height)
// background-image: asset-url('img-creative/animal.flamingo-SUMMER.jpg');
// background-repeat: no-repeat;
// background-size: 1500px 2000px;

// Options Other
// background-position: center;
