.brand-basic {
  width: 100px;
  border-radius: 5%;
}

.brand-large {
  width: 200px;
  border-radius: 5%;
}

.brand-bordered {
  width: 100px;
  border-radius: 5%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.brand-square-300 {
  /* is the WIDTH that defines the square */
  width: 300px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
